# macOS 系统文件
.DS_Store

# 其他不需要版本控制的文件夹
00 - 每日日记/
Cards/**/*
Inputs/**/*
Outputs/**/*
Projects/**/*
Locations/**/*
Persons/**/*

# 专门不用的文件
.obsidian/workspace
.obsidian/workspace.json
.obsidian/plugins/recent-files-obsidian/data.json
*.pdf

# JSON 配置文件
longform-sessions.json
# 图谱文件
.obsidian/graph.json
# 快捷键
.obsidian/hotkeys.json
# 类别
.obsidian/types.json

# 只保留需要共享的文件夹
!**/00*.md
